
body{
    height: 100vh;
    box-sizing: border-box;
    padding-top:130px;
    background-color: white;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color:black;
}
.logo{
    font-size:70px;
    color:white;
    background-color: rgb(0,0,0,0);
    border:0px;
    z-index: 1;
    font-family: "Moirai One", system-ui;
    font-weight: 400;
    font-style: normal;
    
    
}
.smallLogo{
    font-size:30px;
    color:white;
    background-color: rgb(0,0,0,0);
    border:0px;
    z-index: 1;
    position:absolute;
    left:10px;
    top:10px;
    font-family: "Moirai One", system-ui;
    font-weight: 400;
    font-style: normal;
}
.foodType{
    z-index: 1;
    background-color: rgb(156,31,20);
    position:fixed;
    top:0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
}
.user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position:absolute;
    left: 200px;
}
.user > a {
    color: white;
    margin-right: 20px;
}
.foodTypeText{
    font-size:50px;
    font-family: "Black Han Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    color:white;
}
.navRight{
    position:absolute;
    right:30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.serchBox{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.serchBox > input{
    border:0px;
    border-bottom:2px white solid;
    background-color: rgb(0,0,0,0);
    width: 200px;
    height: 30px;
    color: white;
}
.serchBox > input::placeholder{
    color:white;
}
.serchBox >  button{
    background: url(../img/search.png) no-repeat center;
    background-size: cover;
    width: 40px;
    height: 40px;
    border: 0px;
}
.options{
    z-index: 1;
    width: 30;
    
}
.options > .top{
    width:40px;
    height: 10px;
    border-top:3px white solid;
    border-bottom: 3px white solid;
}
.options > .bottom{
    width:40px;
    height: 10px;
    border-bottom: 3px white solid;
}
.options > ul{
    z-index: 1;
    position: absolute;
    display: none;
    top:29px;
    right: 0px;
}
.options:hover > ul{
    display: block;
    border:2px rgb(96, 96, 96) solid;
}
.options > ul > li{
    background-color:rgba(255, 255, 255, 0.8);
    text-align: center;
    width:150px;
    font-size:20px;
}
.options > ul > li > ul{
    border-top:2px rgb(96, 96, 96) solid;
    border-bottom:2px rgb(96, 96, 96) solid;
}
.options > ul > li > ul > li{
    font-size:15px;
}
*{
    margin:0px;
    padding:0px;
}