{% extends "base.html" %}
{% load mzfinder_filter%}
{% load static%}
{%block content%}
<div class ='detailRestaurant'>
    <div class ='introduceRestaurant'>
        <div class ='front'>
            {% if restaurant.imgSrc %}
            <img width = '194px' height = '194px' src={{restaurant.imgSrc}}>
            {% else %}
            {% with src=restaurant.tags|makeSrc%}
            <img width = '194px' height = '194px' src={% static src%}>
            {% endwith%}
            {% endif %}
        </div>
        <div class = 'medium'>
            <span class ='restaurantName'>{{restaurant.name}}</span>
            <form class = 'like' action="{% url 'mzfinder:addLike' restaurant.name %}" method="post">
                {% csrf_token %}
                <input class ='likeInput' type="submit" value=''>
                <span>{{restaurant.rating}}</span>
            </form>
            <span class ='restaurantAdress'>주소 : {{restaurant.adress}}</span>
            <span class ='restaurantCallNumber'>전화번호 : {{restaurant.callNumber}}</span>
        </div>
        <div class ='back'>
            <a href={% url 'mzfinder:map' restaurant.name%}>Map</a>
            
        </div>
    </div>
<div class ='reviewBox'>
        <div class ='showReview'>
        <span>REVIEWS</span>
        <ul>
            {% for review in reviews %}
            <li class='review'>
                <span class = "userName">-{{review.author.username}}-</span>
                <pre class = "reviewContent">{{ review.content }}</pre>
                <span class ="reviewDate">{{review.create_date}}</span>
                <div class='changeReview'>
                    {% if request.user == review.author %}
                    <a href="{% url 'mzfinder:modifyReview' review.id  %}">수정</a>
                    <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'mzfinder:deleteReview' review.id %}">삭제</a>
                    {% endif %}
                </div>
            </li>
            {% endfor %}
            </ul>
        </div>
        <div class ='createReview'>
            <form action="{% url 'mzfinder:createReview' restaurant.name %}" method="post">
                {% csrf_token %}
                <textarea name="content" placeholder="Enter the review" id="content" cols="15" rows="10" wrap="hard"></textarea>
                <input type="submit" value="Create Reivew"/>
            </form>
        </div>
   
    </div>
</div>
{%endblock%}
{% block script %}
<script type='text/javascript'>
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
{% endblock %}